.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 16px;
}

.modal input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;

}

.modal h1{
  margin: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button.cancel {
  background: #aaa;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

button.confirm {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}
